@{
    var message = TempData["StatusMessage"] as string;
}

@if(!string.IsNullOrEmpty(message)){
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@message</h4>
    </div>
}