.app-navbar {
    background: rgba(0,0,0,0.8);

    .text-dark {
        color: #b9c3ce !important;

        &:hover {
            color: #fff !important;
        }
    }

    .navbar-brand {
        color: #a57dea;

        &:hover {
            color: #d727da !important;
        }
    }

    .dropdown-toggle {
        border-color: #a526ad;
        color: silver;
    }
}
